/* nav Section */
html {
    scroll-behavior: smooth;
  }
#navbar{
    flex-direction: column;
}

#navbar #logo img{
    padding: 0rem;
    margin: .5rem;
}
#navbar ul{
    padding: 1rem;
    margin: 0rem;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-around;
}
#navbar ul li a{
    font-size: 1rem;
    
}
/* home section */
#home{
    height: 518px;
}
#home .primary{
    font-size: 2rem;
}

/* our service section */

#service{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#service .box{
    width: 80%;
    height: 100%;
    padding: 2rem;
    margin: 2rem;
    
}
 /*form section*/
 #contac-form form .inputtag{
    width: 100%;
    margin: 0.1rem;
    padding: 0.2rem;;
    border-radius: 12px;
    font-size: 1rem;
}

/*footer*/
#footer{
    background-color: black;
    color: white;
    font-size: 0.8rem;
}
