/* nav Section */
html {
    scroll-behavior: smooth;
  }
/* home section */
.home{
    height: 560px;
}
.home .primary{
    font-size: 2rem;
}

/* our service section */

#service{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#service .box{
    width: 80%;
    height: 100%;
    padding: 2rem;
    margin: 2rem;
    
}
 /*form section*/
 #contac-form form .inputtag{
    width: 100%;
    margin: 0.1rem;
    padding: 0.2rem;;
    border-radius: 12px;
    font-size: 1rem;
}

/*footer*/
#footer{
    background-color: black;
    color: white;
    font-size: 0.8rem;
}
.nav-item-link{
    display: none;
}
.icon{
    display: block;
    position: absolute;
    right: 5%;
}
/* add to navbar for responsive*/
.navbar-response{
    display: flex;
    flex-direction:column;
    /* transition:  height 2s;
    height: 210px; */
    width: 100%;    
}
.nav-item-link-resp{
   display: flex;
   flex-direction:column;
   padding: 0rem;
}
.nav-item-link-resp a{
    padding: 0rem;
    margin: 0rem;
 } 
#logo img{
    padding: 0rem;
    margin: 0.4rem;
}
.home-width{
    height: 438px;
}
.icononclick{
    right: 5%;
    top:8.5%;
}

